{% extends "layout.twig" %}
{% block content %}

<section class="page default">

	{% include 'includes/header.twig' %}

	<div class="wrapper-menu">

		<div class="main-zone-container">
			{{zone('main')|raw}}
			{% include 'includes/footer.twig' %}
		</div>

	</div>

</section>

{% endblock %}