<!-- Footer Include !-->
<footer class="template-footer">

	<div class="wrapper clearfix">
	{{widget('companyname', 'company-name-footer', {"business": "profile"})|raw}}
	{{widget('profile', 'thisuniquewidgetname', { 'profileType':'twitter', 'twitter':'profile', 'refreshtime':'1800000'})|raw}}
	</div>

</footer>



