<!-- Footer Include !-->
<footer class="template-footer">

	<div class="wrapper clearfix">
	{{widget('companyname', 'company-name-footer', {"business": "My Company Name"})|raw}}
	{{widget('profile', 'address-footer', { 'profileType':'address', 'address':'profile', 'refreshtime':'1800000'})|raw}}
	</div>

</footer>



