<!-- Header Include !-->
<header class="template-header">

	<div class="header-content">
			<div class="company-info">
				{{widget('logo', 'companylogo', {"defaultlogo": asset('images/logo.png')})|raw}}
				{{widget('companyname', 'companyname', {"business": "profile"})|raw}}
			</div>
	</div>


	<div class="nav">
		{{widget('extendednavigation', 'navigationheader', {"align":"center"})|raw}}
	</div>

</header>
